
.boton-reiniciar,.boton-agregar{
  
  height: 60px;
  border: none;
  border-radius: 50%;
  background: rgba(255, 0, 0, 0.433);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
  box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.59)/*color y transp*/
}
.boton-reiniciar{
  position:absolute;
  top: 3%;
  left: 85%;
  
  color:#fff;
  text-shadow: 0 0 5px #fff,
               0 0 20px #51e225,
               0 0 30px #51e225;
  }




.boton-agregar:hover{
  background-color:rgba(255, 0, 0, 0.638);
}
.boton-reiniciar:hover{
  background-color:rgba(255, 0, 0, 0.638);
}
.tab{
  width: 200px;
  position: absolute;
  bottom: -300px;
}
@media(max-width:958px){
  .navBar {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
    position:relative;
height: 60px;
border: none;
background: rgba(6, 9, 17, 0);
box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.59)/*color y transp*/
  }
  .boton-reiniciar{
  position:absolute;
  top:-7px;
  left:730px;
  
  color:#fff;
  text-shadow: 0 0 5px #fff,
               0 0 20px #51e225,
               0 0 30px #51e225;
  }

  @media(max-width:500px){
    .boton-reiniciar{
      width: 70px;
      height: 50px;
      border-radius: 5px;
      left: 70%;
      
      border:1px solid rgb(0, 0, 0);
    }
    .boton-reiniciar:hover{
  background-color:rgba(255, 0, 0, 0.638);
}
    button{
      font-size:13px;
      
    }
  }
}
@media(max-width:370px){
  .boton-reiniciar{
    padding:initial;
    width: 60px;
height: 50px;
border-radius: 5px;
left: 280px;
  }
}